/* Current Fonts */
@font-face {
    font-family: 'bitstream_vera_sans_monobold';
    src: url('../css/fonts/veramobd-webfont.woff2') format('woff2'),
         url('../css/fonts/veramobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoBdOb';
    src: url('../css/fonts/veramobi-webfont.woff2') format('woff2'),
         url('../css/fonts/veramobi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoOb';
    src: url('../css/fonts/veramoit-webfont.woff2') format('woff2'),
         url('../css/fonts/veramoit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitstream_vera_sans_monoroman';
    src: url('../css/fonts/veramono-webfont.woff2') format('woff2'),
         url('../css/fonts/veramono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* End Current Fonts */

#datacenterBody {
  background-color: #e5e5e5;
}

#datacenterMain {
  margin-top: 170px;
  text-align: center;
  font-family: bitstream_vera_sans_monoroman;
}

.generationBanner {
  position: relative;
  left: 0;
  width: 100%;
  background-color: #23374d;
  height: 30px;
}

.generationBannerText {
  font-family: bitstream_vera_sans_monoroman;
  font-size: 100%;
  color: white;
  text-align: left;
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 7px;
}

.generationText {
  font-family: bitstream_vera_sans_monoroman;
  font-size: 110%;
  color: black;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 25px;
}

.generationImages {
  display: inline-block;
  width: 100%;
}

#datacenterImages {
  width: 20%;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

#gen2Graphic {
  width: 55%;
}

.gen2Text {
  padding-top: 75px;
}

.column{
  float: left;
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
